<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.Windows.SDK.NET.Ref" />
      <package pattern="Microsoft.NETCore.App.*" />
      <package pattern="Microsoft.WindowsDesktop.App.*" />
      <package pattern="Microsoft.AspNetCore.App.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
